body {
    font-family: "Noto Serif", serif;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    border: 2px solid yellow;
    width: 1620px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #FBEDDA;
    height: 1800px;
}   

.img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 2000.7px;   
    height: 1000.9px;
    position: absolute;
    top: 847.67px;
    left: -212.87px;
    margin-top: 40px;
}

nav {
    position: relative;
}

header .logo {
    font-size: 40px;
    color: black;
    font-weight: bold; 
    margin-right: 600px;
    position: absolute;
    top: 51px;
    left: 150px;
}

header ul {
    display: inline-block;
    font-size: 18px;
    margin-left: 600px;
    margin-top: 61px;
}

header ul li {
    display: inline-block;
    margin-right: 80px;
}

header ul li:last-child {
    margin-right: 0px;
}


header a {
    color: black;
}

.btn {
    display: inline-block;
    font-size: 20px;
    background-color: #13A6BA;
    border-radius: 8px;
    padding: 10.41px 25.18px;
    margin-left: 120px;
}

h1 {
    font-size: 80px;
    margin-top: 224.97px;
    line-height: 105px;
    text-align: center;
}

.centr p {
    text-align: center;
    margin-top: 31px;
    font-size: 20px;
    color: #677071;
}

.clik {
    background-color: #fff;
    width: 1273.4px;
    height: 272.6px;
    border-radius: 20px;
    margin-top: 132.37px;
    margin-left: 170px;
}

.arenda {
    font-size: 28px;
    padding-top: 45px;
    padding-left: 54px;
    position: relative;
}

.clll {
    display: inline-block;
    margin-right: 87px;
}


.rent, .buy, .sell {
    color: #CCCFD0;
}

.rent:hover {
    color: black;
    cursor: pointer;
}

.buy:hover {
    color: black;
    cursor: pointer;
}


.sell:hover {
    color: black;
    cursor: pointer;
}

input {
    position: absolute;
    top: 100px;
    left: 80px;
    appearance: none;
    width: 75px;
    height: 3px;
    background-color: transparent;
}

.arenda input:checked {
    background-color: black;
}

#control1 {
    left: 4%;
}
#control2 {
    left: 16%;
}
#control3 {
    left: 27.5%;
}

.arenda .cl {
    font-weight: 600;
}

.menu {
    margin-top: 60px;
    position: relative;

}

.fa-location-dot {
    position: absolute;
    top: 5px;
    left: 60px;
    color: #13A6BA;
}

.fa-key {
    position: absolute;
    top: 5px;
    left: 420px;
    color: #13A6BA;
}

.fa-tags {
    position: absolute;
    top: 5px;
    left: 715px;
    color: #13A6BA;
}

.cll {
    display: inline-block;
}

.loc {
    margin-left: 82px;
}

.btn_a {
    margin-left: 67px;
    font-size: 28px;
    color: #fff;
    border-radius: 20px;
    padding: 27px 55.66px;
    position: absolute;
    bottom: 0px;
    left: 940px;
}

.prop, .aver {
    margin-left: 170px;
}

.cll p {
    font-size: 18px;
    color: #677071;
}

.cll span {
    font-size: 36px;
    font-weight: 600;
}

.properties {
    margin-top: 154px;
}

h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 91px;
}

.estate__one {
    font-size: 18px;
    color: #677071;
    font-weight: 400;
    line-height: 29px;
    margin-top: 21.45px;
}

.esta {
    white-space: nowrap;
    text-align: right;
    position: relative;
    color: #772D8B;
}

.est {
    display: inline-block;
    margin-right: 85px;
    font-size: 26px;
    font-weight: 600;
}

.est:last-child {
    margin-right: 0px;
}

.esta input[type="radio"] {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    width: 13.48px;
    height: 13.48px;
    border-radius: 50%;
    cursor: pointer;
}

.esta input[type="radio"]:checked {
    background-color: #772D8B;
}

.esta input[type="radio"]::after {
    content: "";
    position: absolute;
    width: 25.48px;
    height: 25.48px;
    border-radius: 50%;
    border: 1px solid #CCCFD0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.esta input[type="radio"]:checked::after {
    border-color: #772D8B;
}

#rent {
    left: 77.3%;
    top: 30%;
}

#buy {
    left: 86.5%;
    top: 30%;
}

#sell {
    left: 95%;
    top: 30%;
}

.rent__est, .buy__est, .sell__est {
    color: #CCCFD0;
}

.rent__est:hover {
    color: #772D8B;
    cursor: pointer;
 }


.buy__est:hover {
    color: #772D8B;
    cursor: pointer;
}

.sell__est:hover {
    color: #772D8B;
    cursor: pointer;
}  

.items,
.items__item {
    display: inline-block;
}

.img-item {
    width: 452px;
    height: 352px;
    border-radius: 60px 60px 0 0;
}


.items {
    margin-top: 98.8px;
    white-space: nowrap;
}

.items__item {
    border: 0px solid #fff;
    border-radius: 40px;
    width: 520px;
    height: 840px;
    margin-right: 16.8px;
}

.items__item:last-child {
    margin-right: 0px;
}

.items__item:hover {
    box-shadow: 2px 4px 55px #0000001C;
    cursor: pointer;
}

.items__item, .img-item {
    padding-top: 35.93px;
    padding-left: 33.7px;
    padding-right: 33.7px;
}

.items__zag {
    margin-top: 46.13px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 33.7px;
}

.items__abz {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 33.7px;
    color: #677071;
}

.items__price {
    display: block;
    margin-top: 30px;
    font-size: 58px;
    font-weight: 700;
    margin-left: 33.7px;
}

.rooms {
    margin-left: 33.7px;
    margin-top: 3px;
}

.room {
    display: inline-block;
    margin-right: 48px;
    font-size: 18px;
    font-weight: 400;
    color: #CCCFD0;
}

.btn-details {
    border: 2px solid #13A6BA;
    border-radius: 20px;
    color: #13A6BA;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 27px 140px;
    display: block;
    margin-top: 56px;
}

.btn-details:hover {
    background-color: #13A6BA;
    color: #fff;
    cursor: pointer;
}

.benefit {
    border: 1px solid red;
    margin-top: 171.41px;
}

.benefit__discover {
    display: inline-block;
    position: relative;
}

.red-house {
    width: 795px;
    height: 883px;
}

.benefit__discover-place {
    background-color: #fff;
    box-shadow: 2px 4px 55px #0000001C;
    width: 391.034px;
    height: 191.58px;
    position: absolute;
    top: 640px;
    left: -100px;
    border-radius: 20px;
}

.benefit__discover-place .dis {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    margin-top: 36.08px;
    margin-left: 39.98px;
}

.benefit__discover-place .san {
    color: #CCCFD0;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    margin-top: 4px;
    margin-left: 39.98px;
}

.photo {
    display: inline-block;
    margin-right: 14.49px;
}

.foto {
    width: 58.01px;
    height: 54.59px;
    border-radius: 5px;
}

.benefit__discover-photo {
    margin-left: 39.98px;
    margin-top: 18.84px;
}

.red-gal {
    background-color: #F93633;
    width: 58.01px;
    height: 54.59px;
    border-radius: 5px;
    position: absolute;
    top: 91px;
    left: 269px;
}

.rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s-h2 {
    width: 694.74px;
    font-size: 58px;
    font-weight: 700;
    line-height: 91px;
}



















